@import "~theme/var.default";

.toggle__outline {
  width: 20px;
  height: 20px;
  border-radius: $border-radius;
  background: $white;
}

input:checked + .toggle__outline {
  background-image: url(./check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}
