@import "~theme/var.default";

.select {
  position: relative;
  display: block;
  min-height: 40px;
  line-height: 40px;
  border-radius: $border-radius;
  background: $white;
  padding: 0 10px;

  &::after {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    font-family: icomoon;
    content: "\E928";
  }

  &.active {
    border-color: transparent;
    box-shadow: 0 0 10px rgba($black, .1);
  }
}

.select__list {
  margin-bottom: 10px;
  border-top: 1px solid $light;
  min-height: 40px;
  max-height: 200px;
  background: $white;
  overflow: auto;

  &.float {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    left: 0;
    margin-top: 10px;
    padding: 0 10px;
    border-top: none;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba($black, .1);
  }

  &.popup {
    border-top: none;
  }
}

.select__option {
  line-height: 40px;
}
