@import "~theme/var.default";

.page__brief {
  text-align: center;
}

.slogan {
  margin: 10px 0;
}

.component__list {
  margin-top: 20px;
  padding: 0 10px;
  border-width: 1px 0;
}

.component__link {
  position: relative;
  line-height: 50px;

  > a {
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &:not(:last-child)::before {
    position: absolute;
    top: 100%;
    width: 95%;
    right: 0;
    height: 1px;
    background: $light;
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: 'icomoon' !important;
    content: "\E92A";
  }
}
