// common color vars
@each $key, $value in $colors {
  .color-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;
  }
}

// font size
@each $key, $value in $font-sizes {
  .font-#{$key} {
    font-size: $value;
  }
}

// box model size
@each $var, $value in $gaps {
  @each $type in (margin, padding) {
    .#{$type}-#{$var} {
      #{$type}: $value;
    }
    .#{$type}-h-#{$var} {
      #{$type}-left: $value;
      #{$type}-right: $value;
    }
    .#{$type}-v-#{$var} {
      #{$type}-top: $value;
      #{$type}-bottom: $value;
    }
    @each $dir in (top, right, bottom, left) {
      .#{$type}-#{$dir}-#{$var} {
        #{$type}-#{$dir}: $value;
      }
    }
  }
}
