@import "~theme/var.default";

.carousel {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel__stage {
  overflow: hidden;
  &::after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    content: '';
  }
}

.carousel__item {
  display: inline-block;
  float: left;
}
