@import "~theme/var.default";

.button {
  display: block;
  width: 100%;
  border-radius: $border-radius;
  background: green;

  &:active {
    opacity: .8;
  }

  &[disabled] {
    background: $light;
    color: $grey;
  }
}

.btn {
  width: 100%;
  min-height: 40px;
  border: none;
  background: none;

  &.disabled {
    pointer-events: none;
  }
}
