@import "~theme/var.default";

.button {
  width: 100%;
  min-height: 40px;
  border: none;
  border-radius: $border-radius;
  background: green;

  &:active {
    opacity: .8;
  }

  &.disabled {
    background: $light;
    color: $grey;
    pointer-events: none;
  }
}
