@import "~theme/var.default";

.input__outer {
  display: block;
  padding: 0 10px;
  border-radius: $border-radius;
  background: $white;
}

.input {
  width: 100%;
  min-height: 40px;
  border: none;
  background: transparent;
}
